In [37]:
import pandas as pd
import numpy as np

In [2]:
ls

10_01_第一堂.ipynb                  default of credit card clients.xls
AER_credit_card_data.csv            list.txt
Countrydata.xls                     my_module/
MITC/                               my_secret.txt
MITC 20191015/                      my_weight.txt
MITC_0319.ipynb                     my_weight1.txt
MITC_03_12.ipynb                    save_dict.txt
MITC_10_22.ipynb                    save_linear_model/
Untitled3.ipynb                     secret.txt
bottle.csv                          計量_report.ipynb
bottle.csv.zip

In [4]:
df_o = pd.read_excel("default of credit card clients.xls")

In [57]:
df = df_o

In [58]:
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [59]:
df = df.drop(columns = df.columns[0])

In [60]:
df.columns = df.iloc[0]

In [61]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [62]:
df = df.drop(index = 0).reset_index().drop(columns = "index")

In [63]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [83]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month', 'EDUCATION_ano'],
      dtype='object', name=0)

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
df["SEX"].value_counts()

2    18112
1    11888
Name: SEX, dtype: int64

In [24]:
trans = OneHotEncoder(categories='auto', sparse=False)

In [27]:
X = df["SEX"].to_numpy().reshape(30000,1)
after_array = trans.fit_transform(X)

In [30]:
df_SEX = pd.DataFrame(after_array).rename(columns = {0:"Male", 1:"Female"})

In [70]:
def trans_fcn(col_name,col_dict):
    trans = OneHotEncoder(categories='auto', sparse=False)
    X = df[col_name].to_numpy().reshape(30000,1)
    after_array = trans.fit_transform(X)
    return pd.DataFrame(after_array).rename(columns = col_dict)

In [34]:
df["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [45]:
df_E_others = np.where( (df["EDUCATION"]==0) | (df["EDUCATION"]>=4) , 1, 0)

In [47]:
df_E_others = pd.DataFrame(df_E_others)

In [52]:
df_E_others[0].value_counts()

0    29532
1      468
Name: 0, dtype: int64

In [65]:
df_E_O = df_E_others.rename(columns = {0:"Education_O"})

In [67]:
df["EDUCATION_ano"] = np.where( (df["EDUCATION"]==0) | (df["EDUCATION"]>=4) , 0, df["EDUCATION"])

In [75]:
df_Education = trans_fcn("EDUCATION_ano",{1:"graduate",2:"university",3:"highschool"}).drop(columns = 0)

In [77]:
df["MARRIAGE"].value_counts()

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

In [79]:
df["MARRIAGE"] = np.where(df["MARRIAGE"] == 3, 0 ,df["MARRIAGE"])

In [80]:
df["MARRIAGE"].value_counts()

2    15964
1    13659
0      377
Name: MARRIAGE, dtype: int64

In [82]:
df_Marriage = trans_fcn("MARRIAGE",{0:"Marriage_O",1:"Married",2:"Single"})

In [150]:
df_Marriage

       Marriage_O  Married  Single
0             0.0      1.0     0.0
1             0.0      0.0     1.0
2             0.0      0.0     1.0
3             0.0      1.0     0.0
4             0.0      1.0     0.0
...           ...      ...     ...
29995         0.0      1.0     0.0
29996         0.0      0.0     1.0
29997         0.0      0.0     1.0
29998         0.0      1.0     0.0
29999         0.0      1.0     0.0

[30000 rows x 3 columns]

In [99]:
df.iloc[:,5:11]

0     PAY_0 PAY_2 PAY_3 PAY_4 PAY_5 PAY_6
0         2     2    -1    -1    -2    -2
1        -1     2     0     0     0     2
2         0     0     0     0     0     0
3         0     0     0     0     0     0
4        -1     0    -1     0     0     0
...     ...   ...   ...   ...   ...   ...
29995     0     0     0     0     0     0
29996    -1    -1    -1    -1     0     0
29997     4     3     2    -1     0     0
29998     1    -1     0     0     0    -1
29999     0     0     0     0     0     0

[30000 rows x 6 columns]

In [101]:
df["PAY_0"].value_counts()

 0    14737
-1     5686
 1     3688
-2     2759
 2     2667
 3      322
 4       76
 5       26
 8       19
 6       11
 7        9
Name: PAY_0, dtype: int64

In [103]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month', 'EDUCATION_ano'],
      dtype='object', name=0)

In [105]:
df = df.drop(columns = "SEX")

In [106]:
df = df.drop(columns = "EDUCATION")

In [116]:
## use list input for columns for multiple columns drop
df = df.drop(columns = ["MARRIAGE","EDUCATION_ano"])

In [117]:
df.columns

Index(['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month'],
      dtype='object', name=0)

In [125]:
Y = df["default payment next month"].to_numpy().reshape(30000,1)
df = df.drop(columns = "default payment next month")

In [157]:
df_all = pd.concat([df,df_E_O,df_Education,df_Marriage,df_SEX],axis = 1)

In [161]:
df_all

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT6,Education_O,graduate,university,highschool,Marriage_O,Married,Single,Male,Female
0,20000,24,2,2,-1,-1,-2,-2,3913,3102,...,0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,120000,26,-1,2,0,0,0,2,2682,1725,...,2000,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,90000,34,0,0,0,0,0,0,29239,14027,...,5000,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,50000,37,0,0,0,0,0,0,46990,48233,...,1000,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,50000,57,-1,0,-1,0,0,0,8617,5670,...,679,0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,39,0,0,0,0,0,0,188948,192815,...,1000,0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
29996,150000,43,-1,-1,-1,-1,0,0,1683,1828,...,0,0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
29997,30000,37,4,3,2,-1,0,0,3565,3356,...,3100,0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
29998,80000,41,1,-1,0,0,0,-1,-1645,78379,...,1804,0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
29999,50000,46,0,0,0,0,0,0,47929,48905,...,1000,0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [164]:
df_all.describe(include = "all")

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT6,Education_O,graduate,university,highschool,Marriage_O,Married,Single,Male,Female
count,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,...,30000.0,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
unique,81.0,56.0,11.0,11.0,11.0,11.0,10.0,10.0,22723.0,22346.0,...,6939.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,50000.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3365.0,1605.0,14737.0,15730.0,15764.0,16455.0,16947.0,16286.0,2008.0,2506.0,...,7173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.015600,0.352833,0.467667,0.163900,0.012567,0.455300,0.532133,0.396267,0.603733
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.123924,0.477859,0.498962,0.370191,0.111396,0.498006,0.498975,0.489129,0.489129
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [173]:
df_n = (df_all.iloc[:,0:20] - df_all.iloc[:,0:20].mean())/df_all.iloc[:,0:20].std()

In [175]:
df_c = df_all.iloc[:,20:]

In [178]:
X = pd.concat([df_n,df_c],axis = 1).to_numpy()

In [179]:
X.shape

(30000, 29)

In [180]:
Y.shape

(30000, 1)

In [181]:
from sklearn.model_selection import train_test_split

In [183]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size =0.3, random_state = 87)

In [184]:
X_train.shape

(21000, 29)

In [185]:
Y_train.shape

(21000, 1)

In [199]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.utils import to_categorical

In [204]:
Y_train

array([[0],
       [0],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=object)

In [210]:
to_categorical(Y_train,2)

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [211]:
Y_train = to_categorical(Y_train,2)
Y_test = to_categorical(Y_test, 2)

In [190]:
model = Sequential()

In [191]:
model.add(Dense(128,input_dim = 29,activation = "relu"))
model.add(Dense(64,activation = "relu"))
model.add(Dense(16,activation = "relu"))

In [193]:
model.add(Dense(2,activation = "softmax"))

In [195]:
from tensorflow.keras.losses import BinaryCrossentropy
model.compile( loss = BinaryCrossentropy(), optimizer=SGD(lr = 0.001), metrics=  ["accuracy"])

In [196]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 128)               3840
_________________________________________________________________
dense_2 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_3 (Dense)              (None, 16)                1040
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 34
=================================================================
Total params: 13,170
Trainable params: 13,170
Non-trainable params: 0
_________________________________________________________________

In [212]:
model.fit(X_train,Y_train, batch_size = 200, epochs =20 )

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [225]:
X_train = X_train.astype(dtype = 'float32')

In [228]:
X_test = X_test.astype(dtype = "float32")
Y_test = Y_test.astype(dtype = "float32")

In [226]:
Y_train = Y_train.astype(dtype = 'float32')

In [271]:
model_p = {}

In [272]:
model_p["SGD"] = model.fit(X_train,Y_train, batch_size = 200, epochs =20 ) ##try for a better one?

Train on 21000 samples
Epoch 1/20
21000/21000 [==============================] - 0s 22us/sample - loss: 0.3888 - accuracy: 0.8356
Epoch 2/20
21000/21000 [==============================] - 0s 20us/sample - loss: 0.3874 - accuracy: 0.8358
Epoch 3/20
21000/21000 [==============================] - 0s 21us/sample - loss: 0.3850 - accuracy: 0.8376
Epoch 4/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3827 - accuracy: 0.8386
Epoch 5/20
21000/21000 [==============================] - 0s 18us/sample - loss: 0.3803 - accuracy: 0.8380
Epoch 6/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3786 - accuracy: 0.8397
Epoch 7/20
21000/21000 [==============================] - 1s 25us/sample - loss: 0.3776 - accuracy: 0.8403
Epoch 8/20
21000/21000 [==============================] - 1s 33us/sample - loss: 0.3737 - accuracy: 0.8414
Epoch 9/20
21000/21000 [==============================] - 0s 21us/sample - loss: 0.3733 - accuracy: 0.8418
Epoch 10/20
21000/21000 [==============================] - 1s 27us/sample - loss: 0.3695 - accuracy: 0.8444
Epoch 11/20
21000/21000 [==============================] - 1s 27us/sample - loss: 0.3692 - accuracy: 0.8440
Epoch 12/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3690 - accuracy: 0.8428
Epoch 13/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3646 - accuracy: 0.8451
Epoch 14/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3622 - accuracy: 0.8469
Epoch 15/20
21000/21000 [==============================] - 0s 20us/sample - loss: 0.3611 - accuracy: 0.8469
Epoch 16/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3576 - accuracy: 0.8474
Epoch 17/20
21000/21000 [==============================] - 0s 20us/sample - loss: 0.3551 - accuracy: 0.8500
Epoch 18/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3543 - accuracy: 0.8489
Epoch 19/20
21000/21000 [==============================] - 0s 21us/sample - loss: 0.3511 - accuracy: 0.8519
Epoch 20/20
21000/21000 [==============================] - 1s 30us/sample - loss: 0.3514 - accuracy: 0.8519

In [230]:
model2 = Sequential()
model2.add(Dense(128,input_dim = 29,activation = "relu"))
model2.add(Dense(64,activation = "relu"))
model2.add(Dense(16,activation = "relu"))
model2.add(Dense(2,activation = "softmax"))

In [231]:
from tensorflow.keras.optimizers import Adam

In [234]:
model2.compile( loss = BinaryCrossentropy(), optimizer=Adam(), metrics=  ["accuracy"])

In [236]:
model2.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 128)               3840
_________________________________________________________________
dense_6 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_7 (Dense)              (None, 16)                1040
_________________________________________________________________
dense_8 (Dense)              (None, 2)                 34
=================================================================
Total params: 13,170
Trainable params: 13,170
Non-trainable params: 0
_________________________________________________________________

In [238]:
model2.fit(X_train,Y_train, batch_size=200, epochs = 20)

Train on 21000 samples
Epoch 1/20
21000/21000 [==============================] - 1s 53us/sample - loss: 0.4862 - accuracy: 0.7939
Epoch 2/20
21000/21000 [==============================] - 0s 22us/sample - loss: 0.4410 - accuracy: 0.8190
Epoch 3/20
21000/21000 [==============================] - 0s 21us/sample - loss: 0.4313 - accuracy: 0.8223
Epoch 4/20
21000/21000 [==============================] - 0s 18us/sample - loss: 0.4254 - accuracy: 0.8244
Epoch 5/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.4246 - accuracy: 0.8248
Epoch 6/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.4206 - accuracy: 0.8237
Epoch 7/20
21000/21000 [==============================] - 0s 22us/sample - loss: 0.4174 - accuracy: 0.8261
Epoch 8/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.4161 - accuracy: 0.8267
Epoch 9/20
21000/21000 [==============================] - 0s 18us/sample - loss: 0.4146 - accuracy: 0.8276
Epoch 10/20
21000/21000 [==============================] - 1s 30us/sample - loss: 0.4128 - accuracy: 0.8274
Epoch 11/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.4114 - accuracy: 0.8269
Epoch 12/20
21000/21000 [==============================] - 1s 24us/sample - loss: 0.4099 - accuracy: 0.8281
Epoch 13/20
21000/21000 [==============================] - 0s 18us/sample - loss: 0.4081 - accuracy: 0.8285
Epoch 14/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.4069 - accuracy: 0.8283
Epoch 15/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.4049 - accuracy: 0.8295
Epoch 16/20
21000/21000 [==============================] - 1s 26us/sample - loss: 0.4027 - accuracy: 0.8300
Epoch 17/20
21000/21000 [==============================] - 0s 20us/sample - loss: 0.4008 - accuracy: 0.8308
Epoch 18/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.4007 - accuracy: 0.8320
Epoch 19/20
21000/21000 [==============================] - 0s 19us/sample - loss: 0.3979 - accuracy: 0.8321
Epoch 20/20
21000/21000 [==============================] - 0s 20us/sample - loss: 0.3961 - accuracy: 0.8331

In [282]:
score1 = model.evaluate(X_test,Y_test)

9000/9000 [==============================] - 1s 60us/sample - loss: 0.5030 - accuracy: 0.7998

In [249]:
score2 = model2.evaluate(X_test,Y_test)

9000/9000 [==============================] - 1s 56us/sample - loss: 0.4496 - accuracy: 0.8064